@mixin header-background($color: var(--blue-primary), $clip-path: polygon(0 100%, 0 0, 45% 0, 16% 100%)) {
    width: 100vw;
    height: 100vh;
    background-color: $color;
    clip-path: $clip-path;
}